#alertpopup,
#confirmpopup{
     background-color: #ffffff;
    border: 2px solid #094C5F;
    border-radius: 10px;
    height: 150px;
    left: 50%;
    margin-left: -140px;
    margin-top: -125px;
    position: fixed;
    top: 50%;
    width: 280px;
    z-index: 1201;
    padding: 10px;
    text-align: center;
}

.alertOkBtn,
.confirmBtn {
    margin-top: 15px;
    position: relative;
}

.notification_bubble{
    position: fixed;
    top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    z-index: 112;
    font-size: 15px;
    font-weight: bold;
}
.notification_success{
    background-color: #C4D657;
    color: #ffffff;
}
.notification_delete{
    background-color: #C3996B;
    color: #ffffff;
}
.notification_warning{
    background-color: rgb(223, 117, 20);
    color: #ffffff;
}

.notification_notice{
    background-color: #e11a51;
    color: #ffffff;
}

.notification_event{
    background-color: #e11a51;
    color: #ffffff;
}

/*.tooltip{
    position: absolute;
    padding: 3px;
    border-radius: 4px;
    background-color: #e11a51;
    color: #ffffff;
    z-index: 101;
    display: none;
}*/
